<p id="notice"><%= notice %></p>

<h1>Tic Tac Toe Games</h1>

<%= link_to 'Start a New Game', new_match_path %>

<table>
  <thead>
    <tr>
      <th>Winning state</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= pretty_winning_state(match.winning_state) %></td>
        <td><%= link_to 'Show', match %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


